<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buses Page</title>
    <link rel="stylesheet" href="/buses.css">
</head>
<body>

    <header>
        <h1 class="logo">UrbanExpress</h1>
        <nav class="navigation">
            <a href="/" class="contacts-page">Home</a>
            <a href="/contact" class="login-page">Contact Us</a>
            <a href="/about" class="contacts-page">About Us</a>
        </nav>
    </header>


    <h1>Buses</h1>

    <ul>
        <% routes.forEach(route => { %>
            <li>
                <div>
                    <p>Origin: <%= route.origin %></p>
                    <p>Destination: <%= route.destination %></p>
                    <p>Fare: <%= route.fare %></p>
                </div>

           <form class="book-now-form" action="/booking" method="post">
    <!-- Pass the route details as hidden input fields -->
    <input type="hidden" name="origin" value="<%= route.origin %>">
    <input type="hidden" name="destination" value="<%= route.destination %>">
    <!-- Add a hidden input field for the fare price -->
    <input type="hidden" name="fare" value="<%= route.fare %>">
    <!-- Change the button type to submit -->
 <button type="submit" >Book Now</button>
</form>

        <% }); %>
    </ul>
</body>
</html>